In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
# Write your code for importing the csv file here
movies = pd.read_csv('Movie+Assignment+Data.csv')
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:
# Write your code for inspection here
print(movies.columns)
print('\n')
print(movies.shape)
print('\n')
print(movies.dtypes)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')


(5043, 28)


color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [5]:
# Write your code for column-wise null count here
movies.isna().sum(axis=0)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [6]:
# Write your code for row-wise null count here
movies.isna().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [7]:
# Write your code for column-wise null percentages here
round(100*(movies.isnull().sum()/len(movies.index)),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [8]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies=movies.drop(columns=['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes',
             'actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name',
             'duration','facenumber_in_poster','content_rating','country','movie_imdb_link',
             'aspect_ratio','plot_keywords'], axis=1)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,NaN,7.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,English,NaN,2013.0,7.7,84
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,English,NaN,NaN,7.5,32000
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,English,1400.0,2013.0,6.3,16
5041,Daniel Hsia,14.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [9]:
# Write your code for dropping the rows here
print(movies.isna().sum(axis=0)/movies.shape[0] > 0.05)
movies.dropna(subset=['gross', 'budget'], inplace=True)
movies.head()

director_name             False
num_critic_for_reviews    False
gross                      True
genres                    False
actor_1_name              False
movie_title               False
num_voted_users           False
num_user_for_reviews      False
language                  False
budget                     True
title_year                False
imdb_score                False
movie_facebook_likes      False
dtype: bool

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [10]:
# Write your code for dropping the rows here
movies.dropna(thresh=5, inplace=True)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [11]:
# Write your code for filling the NaN values in the 'language' column here
movies['language'].fillna('English', inplace=True)

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [12]:
# Write your code for checking number of retained rows here
print(movies.shape[0])
round(100*(len(movies.index)/5043),2)

3891

77.16

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [13]:
# Write your code for unit conversion here
movies['budget'] = movies['budget'] / 1000000
movies['gross'] = movies['gross'] / 1000000

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [14]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']

In [15]:
# Write your code for sorting the dataframe here
movies.sort_values('profit', ascending=False)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.000000,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.000000,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.000000,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.000000,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.500000,1982.0,7.9,34000,424.449459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ôtomo,105.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2127.519898,2004.0,6.9,973,-2127.109510
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809
3005,Lajos Koltai,73.0,0.195888,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2500.000000,2005.0,7.1,607,-2499.804112
3859,Chan-wook Park,202.0,0.211667,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4200.000000,2005.0,7.7,4000,-4199.788333
2988,Joon-ho Bong,363.0,2.201412,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,12215.500000,2006.0,7.0,7000,-12213.298588

In [16]:

top10 = movies.sort_values('profit', ascending=False).head(10)

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [17]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(keep=False, inplace=True)

In [18]:
# Write code for repeating subtask 2 here
top10 = movies.sort_values('profit', ascending=False).head(10)

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [19]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies.loc[movies['num_voted_users'] > 25000].sort_values('imdb_score', ascending=False).head(250)
IMDb_Top_250['Rank'] = IMDb_Top_250['imdb_score'].rank(ascending=False, method='first')

In [20]:
Top_Foreign_Lang_Film = IMDb_Top_250.loc[IMDb_Top_250['language'] != 'English']
print(Top_Foreign_Lang_Film)

                         director_name  num_critic_for_reviews       gross  \
4498                      Sergio Leone                   181.0    6.100000
4029                Fernando Meirelles                   214.0    7.563397
4747                    Akira Kurosawa                   153.0    0.269061
2373                    Hayao Miyazaki                   246.0   10.049886
4921                      Majid Majidi                    46.0    0.925402
4259  Florian Henckel von Donnersmarck                   215.0   11.284657
1329                    S.S. Rajamouli                    44.0    6.498000
4105                    Chan-wook Park                   305.0    2.181290
2323                    Hayao Miyazaki                   174.0    2.298191
4659                    Asghar Farhadi                   354.0    7.098492
2970                 Wolfgang Petersen                    96.0   11.433134
1298                Jean-Pierre Jeunet                   242.0   33.201661
2734                        Fritz Lang                   260.0    0.026435
4033                 Thomas Vinterberg                   349.0    0.610968
2829               Oliver Hirschbiegel                   192.0    5.501940
4000              Juan José Campanella                   262.0   20.167424
2551                Guillermo del Toro                   406.0   37.623143
3550                  Denis Villeneuve                   226.0    6.857096
2047                    Hayao Miyazaki                   212.0    4.710455
2830                Alejandro Amenábar                   157.0    2.086345
2914                       Je-kyu Kang                    86.0    1.110186
3423                   Katsuhiro Ôtomo                   150.0    0.439162
4267             Alejandro G. Iñárritu                   157.0    5.383834
3553                      José Padilha                   142.0    0.008060
4461                 Thomas Vinterberg                    98.0    1.647780
4144                     Walter Salles                    71.0    5.595428
3344                       Karan Johar                   210.0    4.018695
4897                      Sergio Leone                   122.0    3.500000
3456                 Vincent Paronnaud                   242.0    4.443403
4284                        Ari Folman                   231.0    2.283276
2605                           Ang Lee                   287.0  128.067808
2863                    Clint Eastwood                   251.0   13.753931
3510                       Yash Chopra                    29.0    2.921738
3264                    Michael Haneke                   447.0    0.225377
4640                   Cristian Mungiu                   233.0    1.185783
3677              Christophe Barratier                   112.0    3.629758
4415                  Fabián Bielinsky                    94.0    1.221261

                                                 genres  \
4498                                            Western
4029                                        Crime|Drama
4747                             Action|Adventure|Drama
2373                 Adventure|Animation|Family|Fantasy
4921                                       Drama|Family
4259                                     Drama|Thriller
1329                 Action|Adventure|Drama|Fantasy|War
4105                             Drama|Mystery|Thriller
2323                        Adventure|Animation|Fantasy
4659                                      Drama|Mystery
2970                       Adventure|Drama|Thriller|War
1298                                     Comedy|Romance
2734                                       Drama|Sci-Fi
4033                                              Drama
2829                        Biography|Drama|History|War
4000                             Drama|Mystery|Thriller
2551                                  Drama|Fantasy|War
3550                                  Drama|Mystery|War
2047                 Adventure|Animation|Family|Fantasy
2830                            Biography|Drama|Romance
2914                                   Action|Drama|War
3423                            Action|Animation|Sci-Fi
4267                                     Drama|Thriller
3553                        Action|Crime|Drama|Thriller
4461                                              Drama
4144                                              Drama
3344                           Adventure|Drama|Thriller
4897                               Action|Drama|Western
3456                      Animation|Biography|Drama|War
4284  Animation|Biography|Documentary|Drama|History|War
2605                               Action|Drama|Romance
2863                                  Drama|History|War
3510                              Drama|Musical|Romance
3264                                      Drama|Romance
4640                                              Drama
3677                                        Drama|Music
4415                               Crime|Drama|Thriller

               actor_1_name                          movie_title  \
4498         Clint Eastwood      The Good, the Bad and the Ugly
4029            Alice Braga                         City of God
4747        Takashi Shimura                       Seven Samurai
2373         Bunta Sugawara                       Spirited Away
4921         Bahare Seddiqi                  Children of Heaven
4259         Sebastian Koch                 The Lives of Others
1329       Tamannaah Bhatia            Baahubali: The Beginning
4105           Min-sik Choi                              Oldboy
2323          Minnie Driver                   Princess Mononoke
4659        Shahab Hosseini                        A Separation
2970        Jürgen Prochnow                            Das Boot
1298      Mathieu Kassovitz                              Amélie
2734          Brigitte Helm                          Metropolis
4033       Thomas Bo Larsen                            The Hunt
2829     Thomas Kretschmann                            Downfall
4000          Ricardo Darín            The Secret in Their Eyes
2551          Ivana Baquero                     Pan's Labyrinth
3550           Lubna Azabal                           Incendies
2047         Christian Bale                Howl's Moving Castle
2830            Belén Rueda                      The Sea Inside
2914           Min-sik Choi  Tae Guk Gi: The Brotherhood of War
3423           Mitsuo Iwata                               Akira
4267        Adriana Barraza                       Amores Perros
3553           Wagner Moura                         Elite Squad
4461         Ulrich Thomsen                     The Celebration
4144    Fernanda Montenegro                     Central Station
3344         Shah Rukh Khan                     My Name Is Khan
4897         Clint Eastwood                A Fistful of Dollars
3456      Catherine Deneuve                          Persepolis
4284             Ari Folman                   Waltz with Bashir
2605             Chen Chang      Crouching Tiger, Hidden Dragon
2863         Yuki Matsuzaki               Letters from Iwo Jima
3510         Shah Rukh Khan                          Veer-Zaara
3264       Isabelle Huppert                               Amour
4640       Anamaria Marinca        4 Months, 3 Weeks and 2 Days
3677  Jean-Baptiste Maunier                          The Chorus
4415          Ricardo Darín                         Nine Queens

      num_voted_users  num_user_for_reviews    language       budget  \
4498           503509                 780.0     Italian     1.200000
4029           533200                 749.0  Portuguese     3.300000
4747           229012                 596.0    Japanese     2.000000
2373           417971                 902.0    Japanese    19.000000
4921            27882                 130.0     Persian     0.180000
4259           259379                 407.0      German     2.000000
1329            62756                 410.0      Telugu    18.026148
4105           356181                 809.0      Korean     3.000000
2323           221552                 570.0    Japanese  2400.000000
4659           151812                 264.0     Persian     0.500000
2970           168203                 426.0      German    14.000000
1298           534262                1314.0      French    77.000000
2734           111841                 413.0      German     6.000000
4033           170155                 249.0      Danish     3.800000
2829           248354                 564.0      German    13.500000
4000           131831                 231.0     Spanish     2.000000
2551           467234                1083.0     Spanish    13.500000
3550            80429                 156.0      French     6.800000
2047           214091                 330.0    Japanese    24.000000
2830            64556                 140.0     Spanish    10.000000
2914            31943                 224.0      Korean    12.800000
3423           106160                 430.0    Japanese  1100.000000
4267           173551                 361.0     Spanish     2.000000
3553            81644                 107.0  Portuguese     4.000000
4461            65951                 258.0      Danish     1.300000
4144            28951                 257.0  Portuguese     2.900000
3344            69759                 235.0       Hindi    12.000000
4897           147566                 235.0     Italian     0.200000
3456            70194                 158.0      French     7.300000
4284            46107                 156.0      Hebrew     1.500000
2605           217740                1641.0    Mandarin    15.000000
2863           132149                 316.0    Japanese    19.000000
3510            34449                 119.0       Hindi     7.000000
3264            70382                 190.0      French     8.900000
4640            44763                 172.0    Romanian     0.590000
3677            44151                 110.0      French     5.500000
4415            38215                 125.0     Spanish     1.500000

      title_year  imdb_score  movie_facebook_likes       profit   Rank
4498      1966.0         8.9                 20000     4.900000    6.0
4029      2002.0         8.7                 28000     4.263397   15.0
4747      1954.0         8.7                 11000    -1.730939   16.0
2373      2001.0         8.6                 28000    -8.950114   27.0
4921      1997.0         8.5                     0     0.745402   32.0
4259      2006.0         8.5                 39000     9.284657   36.0
1329      2015.0         8.4                 21000   -11.528148   47.0
4105      2003.0         8.4                 43000    -0.818710   52.0
2323      1997.0         8.4                 11000 -2397.701809   55.0
4659      2011.0         8.4                 48000     6.598492   56.0
2970      1981.0         8.4                 11000    -2.566866   57.0
1298      2001.0         8.4                 39000   -43.798339   60.0
2734      1927.0         8.3                 12000    -5.973565   65.0
4033      2012.0         8.3                 60000    -3.189032   71.0
2829      2004.0         8.3                 14000    -7.998060   78.0
4000      2009.0         8.2                 33000    18.167424   87.0
2551      2006.0         8.2                 27000    24.123143   89.0
3550      2010.0         8.2                 37000     0.057096  102.0
2047      2004.0         8.2                 13000   -19.289545  104.0
2830      2004.0         8.1                     0    -7.913655  111.0
2914      2004.0         8.1                     0   -11.689814  118.0
3423      1988.0         8.1                     0 -1099.560838  121.0
4267      2000.0         8.1                 11000     3.383834  135.0
3553      2007.0         8.1                 11000    -3.991940  148.0
4461      1998.0         8.1                  5000     0.347780  149.0
4144      1998.0         8.0                     0     2.695428  161.0
3344      2010.0         8.0                 27000    -7.981305  162.0
4897      1964.0         8.0                     0     3.300000  168.0
3456      2007.0         8.0                 14000    -2.856597  171.0
4284      2008.0         8.0                     0     0.783276  184.0
2605      2000.0         7.9                     0   113.067808  206.0
2863      2006.0         7.9                  5000    -5.246069  213.0
3510      2004.0         7.9                  2000    -4.078262  215.0
3264      2012.0         7.9                 33000    -8.674623  225.0
4640      2007.0         7.9                 14000     0.595783  240.0
3677      2004.0         7.9                     0    -1.870242  245.0
4415      2000.0         7.9                     0    -0.278739  250.0

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [21]:
# Write your code for extracting the top 10 directors here
director_score = movies.groupby('director_name').agg({'imdb_score': np.mean}).reset_index()
director_score.columns = ['director_name', 'mean_imdb_score']
top10director = director_score.sort_values('mean_imdb_score', ascending=False).head(10)
top10director

              director_name  mean_imdb_score
215         Charles Chaplin         8.600000
1671              Tony Kaye         8.600000
1015           Majid Majidi         8.500000
1437             Ron Fricke         8.500000
301         Damien Chazelle         8.500000
45         Alfred Hitchcock         8.500000
1495           Sergio Leone         8.433333
259       Christopher Nolan         8.425000
1464         S.S. Rajamouli         8.400000
1033  Marius A. Markevicius         8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [22]:

# Write your code for extracting the first two genres of each movie here
movies['genre_1'] = movies['genres'].str.split('|').str[0]
movies['genre_2'] = movies['genres'].apply(lambda x: x.split('|')[1] if len(x.split('|')) > 1 else x.split('|')[0])

In [23]:
movies_by_segment = movies.groupby(['genre_1', 'genre_2'])

In [24]:
Genre_group = movies_by_segment.agg({'gross': np.mean}).reset_index()
Genre_group.columns = ['genre_1', 'genre_2', 'mean_gross']
PopGenre = Genre_group.sort_values('mean_gross', ascending=False).head(5)

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [25]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies.loc[movies['actor_1_name'] == 'Meryl Streep']

In [26]:
Leo_Caprio = movies.loc[movies['actor_1_name'] == 'Leonardo DiCaprio']

In [27]:
Brad_Pitt = movies.loc[movies['actor_1_name'] == 'Brad Pitt']

In [28]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

In [29]:
# Write your code for grouping the combined dataframe here
groupby_actors = Combined.groupby('actor_1_name')

In [30]:
# Write the code for finding the mean of critic reviews and audience reviews here
groupby_actors.agg({'num_critic_for_reviews': np.mean, 'num_user_for_reviews': np.mean})

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!